@font-face{
    font-family:"HarmonyOS Sans SC 01";src:url("./fonts/HarmonyOS_Sans_SC_Regular.ttf")
}
@font-face{
    font-family:"JetBrains Mono 01";src:url("./fonts/JetBrainsMono-Regular.ttf")
}

:root {
  /* 主色 */
  --b3-theme-primary: #4285f4;
  --b3-theme-primary-light: rgba(66, 133, 244, 0.54);
  --b3-theme-primary-lighter: rgba(66, 133, 244, 0.38);
  --b3-theme-primary-lightest: rgba(66, 133, 244, 0.12);
  --b3-theme-secondary: #f3a92f;
  --b3-theme-background: #f8f9fa;
  --b3-theme-background-light: #dfe0e1;
  --b3-theme-surface: #f3f3f3;
  --b3-theme-surface-light: rgba(243, 243, 243, .86);
  --b3-theme-error: #d23f31;

  /* 文字颜色 */
  --b3-theme-on-primary: #fff;
  --b3-theme-on-secondary: #fff;
  --b3-theme-on-background: #202124;
  --b3-theme-on-surface: #5f6368;
  --b3-theme-on-error: #fff;

    /* 字体 */
    /* --b3-font-family: "quote", "Helvetica Neue", "Luxi Sans", "DejaVu Sans", "Hiragino Sans GB", "Microsoft Yahei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
    --b3-font-family-code: "JetBrainsMono-Regular", mononoki, Consolas, "Liberation Mono", Menlo, Courier, monospace, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
    --b3-font-family-graph: mononoki;
    --b3-font-family-emoji: "Segoe UI Emoji", "Segoe UI Symbol", "Segoe UI", "Apple Color Emoji", "Twemoji Mozilla", "Noto Color Emoji", "Android Emoji";
    --b3-font-family-math: KaTeX_Math; */
    --b3-font-family: "HarmonyOS Sans SC 01", "JetBrains Mono 01", "Helvetica Neue", "Luxi Sans", "DejaVu Sans", "Hiragino Sans GB", "Microsoft Yahei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
    --b3-font-family-code: "JetBrains Mono 01", "HarmonyOS Sans SC 01", mononoki, Consolas, "Liberation Mono", Menlo, Courier, monospace, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
    --b3-font-family-graph: mononoki;
    --b3-font-family-emoji: "Segoe UI Emoji", "Segoe UI Symbol", "Segoe UI", "Apple Color Emoji", "Twemoji Mozilla", "Noto Color Emoji", "Android Emoji";
    --b3-font-family-math: KaTeX_Math;

        /* 线条 */
        --b3-border-color: rgba(0, 0, 0, .1);

        /* 滚动条 */
        --b3-scroll-color: rgba(0, 0, 0, .2);
    
        /* 列表 */
        --b3-list-hover: #e9eaea;
    
        /* 菜单 */
        --b3-menu-background: #f8f9fa;
    
        /* 提示 */
        --b3-tooltips-color: rgba(0, 0, 0, 0.54);
    
        /* 卡片背景 */
        --b3-card-error-color: rgb(97, 26, 21);
        --b3-card-error-background: rgb(253, 236, 234);
        --b3-card-warning-color: rgb(102, 60, 0);
        --b3-card-warning-background: rgb(255, 244, 229);
        --b3-card-info-color: rgb(13, 60, 97);
        --b3-card-info-background: rgb(232, 244, 253);
        --b3-card-success-color: rgb(30, 70, 32);
        --b3-card-success-background: rgb(237, 247, 237);
    
        /* 自定义文字 */
        --b3-font-color1: var(--b3-card-error-color);
        --b3-font-color2: var(--b3-card-warning-color);
        --b3-font-color3: var(--b3-card-info-color);
        --b3-font-color4: var(--b3-card-success-color);
        --b3-font-color5: var(--b3-theme-on-surface);
        --b3-font-color6: var(--b3-theme-primary);
        --b3-font-color7: var(--b3-theme-secondary);
        --b3-font-color8: var(--b3-theme-error);
        --b3-font-color9: #f5539e;
        --b3-font-color10: #944194;
        --b3-font-color11: #65b84d;
        --b3-font-color12: #f5822e;
        --b3-font-color13: var(--b3-theme-background);
        --b3-font-background1: var(--b3-card-error-background);
        --b3-font-background2: var(--b3-card-warning-background);
        --b3-font-background3: var(--b3-card-info-background);
        --b3-font-background4: var(--b3-card-success-background);
        --b3-font-background5: var(--b3-theme-surface);
        --b3-font-background6: var(--b3-theme-primary-light);
        --b3-font-background7: rgba(217, 211, 215, 0.5);
        --b3-font-background8: rgba(255, 193, 153, 0.5);
        --b3-font-background9: rgba(189, 201, 255, 0.5);
        --b3-font-background10: rgba(239, 218, 251, 0.5);
        --b3-font-background11: rgba(234, 202, 220, 0.5);
        --b3-font-background12: rgba(253, 198, 200, 0.5);
        --b3-font-background13: var(--b3-theme-on-background);
    
        /* 动画效果 */
        --b3-transition: all .15s cubic-bezier(0, 0, .2, 1) 0ms;
        --b3-width-transition: width .15s cubic-bezier(0, 0, .2, 1) 0ms;
    
        /* 阴影 */
        --b3-point-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
        --b3-dialog-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    
        /* diff */
        --b3-diff-add: #dfd;
        --b3-diff-add-surface: #97f295;
        --b3-diff-del: #fee8e9;
        --b3-diff-del-surface: #ffb6ba;
    
        /* 图表颜色 */
        --b3-graph-p-point: #076f7e;
        --b3-graph-heading-point: #660e7a;
        --b3-graph-math-point: #80FFA5;
        --b3-graph-code-point: #00DDFF;
        --b3-graph-table-point: #37A2FF;
        --b3-graph-list-point: #FF0087;
        --b3-graph-todo-point: #FFBF00;
        --b3-graph-olist-point: #b3005f;
        --b3-graph-listitem-point: #f65b00;
        --b3-graph-bq-point: #8d48e3;
        --b3-graph-super-point: #dd79ff;
        --b3-graph-doc-point: #202124;
        --b3-graph-tag-point: #dbf32f;
        --b3-graph-asset-point: #05c091;
        --b3-graph-line: #5f6368;
        --b3-graph-ref-line: #d23f31;
        --b3-graph-tag-line: #5f6b06;
        --b3-graph-tag-tag-line: #dbf32f;
        --b3-graph-asset-line: #037457;
        --b3-graph-hl-point: #f3a92f;
        --b3-graph-hl-line: #4285f4;
    
        /* 编辑器搜索颜色 */
        --b3-protyle-search-background: #ffe955;
        --b3-protyle-search-border-color: #f2e680;
        --b3-protyle-search-current-background: #a5d3fe;
    
        /* 代码片段背景 */
        --b3-protyle-code-background: rgba(27, 31, 35, .05);
    
        /* 所见即所得行内元素颜色 */
        --b3-protyle-inline-strong-color: #202124;
        --b3-protyle-inline-em-color: #202124;
        --b3-protyle-inline-s-color: #202124;
        --b3-protyle-inline-link-color: #4285f4;
        --b3-protyle-inline-mark-background: #ffe955;
        --b3-protyle-inline-mark-color: #202124;
        --b3-protyle-inline-tag-color: #5f6368;
        --b3-protyle-inline-blockref-color: #660e7a;
    
        /* PDF */
        --b3-pdf-selection: #d0e9c8;
        --b3-pdf-sidebar-width: 200px;
        --b3-pdf-offset: 0;
        --b3-pdf-background1: var(--b3-theme-error);
        --b3-pdf-background2: #f5822e;
        --b3-pdf-background3: var(--b3-theme-secondary);
        --b3-pdf-background4: #65b84d;
        --b3-pdf-background5: #f5539e;
        --b3-pdf-background6: var(--b3-theme-primary);
        --b3-pdf-background7: #944194;
    
    /* ---------------------------------来自dark+------------------------- */
    /* 标题层级标记与标题之间宽度 */
    --custom-h-mark-blank: 4px;

    /* 标题层级标记 */
    --custom-h1-mark: "¹";
    --custom-h2-mark: "²";
    --custom-h3-mark: "³";
    --custom-h4-mark: "⁴";
    --custom-h5-mark: "⁵";
    --custom-h6-mark: "⁶";

    /* --custom-h1-mark: "₁";
    --custom-h2-mark: "₂";
    --custom-h3-mark: "₃";
    --custom-h4-mark: "₄";
    --custom-h5-mark: "₅";
    --custom-h6-mark: "₆"; */

    /* 标题序号缩放 | Title ordinal scaling */
    --custom-h-num-font-size: 50%;

    /* 子标题及其对应大纲颜色 | Subheadings and their corresponding outline colors */
    --custom-h1-color: var(--b3-theme-on-background);
    --custom-h2-color: var(--b3-card-info-color);
    --custom-h3-color: var(--b3-card-warning-color);
    --custom-h4-color: var(--b3-card-success-color);
    --custom-h5-color: var(--b3-card-error-color);
    --custom-h6-color: var(--custom-color-8-3);

    /* 块引用标记 | Block reference mark */
    /* --custom-quote-l: "「";
    --custom-quote-r: "」"; */

    /* 
        * ⸢: U+2E22
        * ⸥: U+2E25
        */
    --custom-quote-l: "⸢";
    --custom-quote-r: "⸥";
}

/* PDF */
.textLayer,
.pdf__resize {
    mix-blend-mode: darken;
}


.textLayer,
.pdf__resize {
    mix-blend-mode: screen;
}

.b3-text-filed::-webkit-calendar-picker-indicator {
    filter: invert(1)
}


.protyle {
    background-color: #ffffff00;
    /* border: 1px solid #ffffff20; */
}

.protyle-title__input {
    background: #ffffff00;
}

.protyle-breadcrumb {
    position: absolute;
    width:calc(100%);
    /* background-color: #ccccccee; */
    background: linear-gradient(#eeeeeeff, #eeeeeecc);
    box-shadow: 0 0 5px #dddddd;
    /* border-bottom: 1px solid #ffffff20; */
    /* border-top: 1px solid hsla(0, 0%, 100%, 0.125); */
    backdrop-filter: blur(5px);
    z-index: 2;
}

.toolbar {
    border-bottom: 1px solid #00000020;
}

#dockLeft{
    border-right: 1px solid #00000020;
}

#dockRight{
    border-left: 1px solid #00000020;
}

.layout-tab-bar .item--focus {
    background-color:#eeeeeeff;
    box-shadow: 0 0 0 0;
}
.layout-tab-bar .item {
    box-shadow: 0 0 0 0;
    border-radius: 0 0 0 0;
}

#layouts>.fn__flex:nth-child(3){
    overflow:hidden;
}

#layouts>.fn__flex:nth-child(3)>.fn__flex-column:first-child>.fn__flex:not(.fn__none){
    border-right: 1px solid #00000020;
    box-sizing: border-box;
}
#layouts>.fn__flex:nth-child(3)>.fn__flex-column:last-child>.fn__flex:not(.fn__none){
    border-left: 1px solid #00000020;
    box-sizing: border-box;
}
.layout-tab-bar {
    box-shadow: 0 0 0 0;
    border: 0 0 0 0;
}
.layout__empty {
    background-color: #00000000;
}

.b3-menu__item {
    background-color: #ffffff00;
    transition: background-color 0.5s;
}
.b3-menu__item:hover {
    background-color:#00000010;
}
.b3-menu{
    background-color: #e7e7e7de;
    border:1px solid #00000040;
    border-radius: 0 0 0 0;
    backdrop-filter: blur(5px); ;
}
.graph__panel{
    background-color: #ffffff20;
    backdrop-filter: blur(5px);
    
}
.b3-menu__label {
    color: var(--b3-theme-on-surface);
}

.graph {
    background-color: #dddddd;
}

.b3-dialog--open .b3-dialog__container {
    background-color: #ffffffcf;
    border:1px solid #00000080;
    backdrop-filter: blur(5px);
    border-radius: 0 0 0 0;
}

.b3-list--background .b3-list-item--focus:not(.dragover):not(.dragover__top):not(.dragover__bottom) {
    background-color:#00000010;
}

.b3-select {
    background-color: #eeeeeeff;
    color: #000000;
    border:1px solid #00000080;
    border-radius: 0 0 0 0;
}

.b3-text-filed{
    border-radius: 0 0 0 0;
}
.b3-button{
    border-radius: 0 0 0 0;
}

.protyle-util{
    background-color: #ffffff00;
}
.layout-tab-container .protyle-util{
    background-color: #ddddddcc;
    border-radius: 0 0 0 0;
    border:1px solid #00000040;
    backdrop-filter: blur(5px);
}
.layout-tab-container {
    background-color: var(--b3-theme-background-light);
}

.block__popover--move{
    background-color: #e0e0e0de;
    border:1px solid #00000040;
    border-radius: 0 0 0 0;
    backdrop-filter: blur(5px);
}

.protyle-wysiwyg [data-node-id].render-node[data-type="NodeBlockQueryEmbed"] {
    background-color: #00000010;
}

.protyle-toolbar {
    background-color: #eeeeeede;
    border:1px solid #00000040;
    border-radius: 0 0 0 0;
    backdrop-filter: blur(5px);
}

.b3-text-filed, .pcr-app .pcr-interaction .pcr-result {
    background-color: #00000000;
}
.block__popover--move>.block__icons {
    background-color: #00000000;
}

.graph__loading{
    background-color: #00000020;
}

.b3-tab-container {
    background-color: #00000000;
}
.search__header {
    background-color: #00000000;
    border-bottom: 1px solid #00000040;
}
.fn__flex-column>.fn__flex-1.fn__flex:last-child{
    border-top: 1px solid #00000020;
}
.b3-list.fn__flex-column{
    border-top: 1px solid #00000020;
}
.sy__backlink>.block__icons:nth-child(3){
    border-top: 1px solid #00000020;
}
/* .block__icons{
    border-bottom: 1px solid #ffffff20;
} */
:hover>.block__icons{
    background-color: #00000010;

}
.block__icons

::-webkit-scrollbar{
    width : 5px;
}

::-webkit-scrollbar-thumb{
    background-color: #00000000;

}
:hover::-webkit-scrollbar-thumb{
    background-color: #00000013;
}
.block__icons--active{
    background-color: #00000000;
}

.block__icons{
    background-color: #ffffff00;
    transition: background-color 0.5s;
    /* position: absolute;
    width: calc(100% - 16px);
    backdrop-filter: blur(5px);
    z-index: 2; */
}
.b3-menu__item--show .b3-menu__submenu {
    background-color: #f0f0f0;
    border:1px solid #00000040;
    border-radius: 0 0 0 0;
    backdrop-filter: blur(5px);
    margin: 1px;
}

.config-account__center--text {
    background-color: #00000000;
}
.b3-typography table { 
    background-color: #00000000;
}


/* .protyle-wysiwyg [data-node-id].sb[data-sb-layout="col"] {
    padding: 2px;
    margin: 2px;
    transition: box-shadow 0.2s;
}
.protyle-wysiwyg [data-node-id].sb[data-sb-layout="col"] .sb {
    padding: 2px;
    margin: 2px;
    transition: box-shadow 0.2s;
}
.protyle-wysiwyg [data-node-id].sb[data-sb-layout="col"] .sb:hover {
    box-shadow:  0px 0px 3px #ffffff50;
}
.protyle-wysiwyg [data-node-id].sb[data-sb-layout="col"]:hover {
    box-shadow:  0px 0px 3px #ffffff50;
}


.protyle-attr {
    right:-3px;
    top: -5px;
    font-size: 10px
}

.protyle-wysiwyg [data-node-id].list {
    padding: 2px;
    margin: 2px;
    transition: box-shadow 0.2s;
}

.protyle-wysiwyg [data-node-id].list:hover {
    box-shadow:  0px 0px 3px #ffffff50;
} */

.layout-tab-bar .item--focus{
    font-style: normal;
}
.layout-tab-bar .item--unupdate{
    font-style: normal;
}
.layout-tab-bar{
    background-color: #00000000;
}

.b3-tab-bar.b3-list.b3-list--background{
    border-right:1px solid #00000040;
}

.b3-card {
    border:1px solid #00000040;
    border-radius: 0 0 0 0 ;
    background-color: #ffffff00;
}

.b3-dialog--open .b3-dialog__container .b3-tab-container:not(.fn__none)>.fn__flex-column .fn__flex-1{
    border-top:1px solid #00000040;
}

.config-bazaar__readme {
    background-color: #ffffffc7;
    backdrop-filter: blur(5px);
}

mark {
    background-color: var(--b3-protyle-inline-mark-background);
    background-image: -webkit-gradient(linear, 0 0, 100% 100%,   
                            color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent),   
                            color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)),   
                            color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent),   
                            to(transparent));   
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,   
                        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,   
                        transparent 75%, transparent);   
    background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,   
                        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,   
                        transparent 75%, transparent);   
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,   
                        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,   
                        transparent 75%, transparent); 
    background-size:5px 5px;  
    color: var(--b3-protyle-inline-mark-color);
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
/* ----------如果希望取消挖空效果，请删除这段代码 Start---------------- */
/* 修改高亮为挖空效果，但是预览模式关闭（毕竟需要导出） */
.protyle-wysiwyg mark{
    color: transparent;
    transition: color 2s ease-in-out;
}
.protyle-wysiwyg [data-node-id] [spellcheck="false"] mark:hover{
    color: var(--b3-protyle-inline-mark-color);
    transition: color 0.2s ease-in-out;
}
.protyle-content{
    padding-top: 31px;
    background-color: #ebebeb;
} 

.block__popover--move .protyle-content{
    background-color: #35353500;
}

.block__popover--move .protyle-breadcrumb{
    position: relative;
    background: #00000000;
    backdrop-filter: blur(0);
}


.spread-search__preview {
    background-color: #00000000;
}


/* -----------------标题优化来自dark+--------------------------- */

/* 标题自动编号 */
/* body {
    counter-reset: h1-count 0;
} */

.protyle-wysiwyg,
.b3-typography {
    counter-reset: h1-count 0 h2-count 0 h3-count 0 h4-count 0 h5-count 0 h6-count 0;
}

.protyle-wysiwyg>.h1,
.b3-typography h1 {
    counter-increment: h1-count;
    counter-reset: h2-count 0;
}

.protyle-wysiwyg>.h2,
.b3-typography h2 {
    counter-increment: h2-count;
    counter-reset: h3-count 0;
}

.protyle-wysiwyg>.h3,
.b3-typography h3 {
    counter-increment: h3-count;
    counter-reset: h4-count 0;
}

.protyle-wysiwyg>.h4,
.b3-typography h4 {
    counter-increment: h4-count;
    counter-reset: h5-count 0;
}

.protyle-wysiwyg>.h5,
.b3-typography h5 {
    counter-increment: h5-count;
    counter-reset: h6-count 0;
}

.protyle-wysiwyg>.h6,
.b3-typography h6 {
    counter-increment: h6-count;
}

.protyle-wysiwyg>.h1:before,
.b3-typography h1:before {
    display: block;
    float: left;
    font-size: var(--custom-h-num-font-size);
    content: counter(h1-count) "\00A0";
}

.protyle-wysiwyg>.h2:before,
.b3-typography h2:before {
    display: block;
    float: left;
    font-size: var(--custom-h-num-font-size);
    content: counter(h1-count) "."counter(h2-count) "\00A0";
}

.protyle-wysiwyg>.h3:before,
.b3-typography h3:before {
    display: block;
    float: left;
    font-size: var(--custom-h-num-font-size);
    content: counter(h1-count) "."counter(h2-count) "."counter(h3-count) "\00A0";
}

.protyle-wysiwyg>.h4:before,
.b3-typography h4:before {
    display: block;
    float: left;
    font-size: var(--custom-h-num-font-size);
    content: counter(h1-count) "."counter(h2-count) "."counter(h3-count) "."counter(h4-count) "\00A0";
}

.protyle-wysiwyg>.h5:before,
.b3-typography h5:before {
    display: block;
    float: left;
    font-size: var(--custom-h-num-font-size);
    content: counter(h1-count) "."counter(h2-count) "."counter(h3-count) "."counter(h4-count) "."counter(h5-count) "\00A0";
}

.protyle-wysiwyg>.h6:before,
.b3-typography h6:before {
    display: block;
    float: left;
    font-size: var(--custom-h-num-font-size);
    content: counter(h1-count) "."counter(h2-count) "."counter(h3-count) "."counter(h4-count) "."counter(h5-count) "."counter(h6-count) "\00A0";
}

.b3-typography li>h1:before,
.b3-typography li>h2:before,
.b3-typography li>h3:before,
.b3-typography li>h4:before,
.b3-typography li>h5:before,
.b3-typography li>h6:before {
    content: "";
}

/* 调整标题空行光标位置 */

.protyle-wysiwyg .h1>[spellcheck="false"]:focus:empty {
    padding-left: 0.5em;
}

.protyle-wysiwyg .h2>[spellcheck="false"]:focus:empty {
    padding-left: 1em;
}

.protyle-wysiwyg .h3>[spellcheck="false"]:focus:empty {
    padding-left: 1.5em;
}

.protyle-wysiwyg .h4>[spellcheck="false"]:focus:empty {
    padding-left: 2em;
}

.protyle-wysiwyg .h5>[spellcheck="false"]:focus:empty {
    padding-left: 2.5em;
}

.protyle-wysiwyg .h6>[spellcheck="false"]:focus:empty {
    padding-left: 3em;
}

/* 移除列表中标题的空行光标位置缩进 */

.protyle-wysiwyg [data-node-id].li>.protyle-action~.h1>[spellcheck="false"]:focus:empty,
.protyle-wysiwyg [data-node-id].li>.protyle-action~.h2>[spellcheck="false"]:focus:empty,
.protyle-wysiwyg [data-node-id].li>.protyle-action~.h3>[spellcheck="false"]:focus:empty,
.protyle-wysiwyg [data-node-id].li>.protyle-action~.h4>[spellcheck="false"]:focus:empty,
.protyle-wysiwyg [data-node-id].li>.protyle-action~.h5>[spellcheck="false"]:focus:empty,
.protyle-wysiwyg [data-node-id].li>.protyle-action~.h6>[spellcheck="false"]:focus:empty {
    padding-left: 0;
}

/* 标题颜色标识 */

.protyle-wysiwyg [data-node-id].h1,
.b3-typography h1 {
    /* font-size: 1.6em !important; */
    color: var(--custom-h1-color);
    border-left: 3px solid var(--custom-h1-color);
    padding-left: 9px;
}

.protyle-wysiwyg [data-node-id].h2,
.b3-typography h2 {
    /* font-size: 1.5em !important; */
    color: var(--custom-h2-color);
    border-left: 3px solid var(--custom-h2-color);
    padding-left: 9px;
}

.protyle-wysiwyg [data-node-id].h3,
.b3-typography h3 {
    /* font-size: 1.4em !important; */
    color: var(--custom-h3-color);
    border-left: 3px solid var(--custom-h3-color);
    padding-left: 9px;

}

.protyle-wysiwyg [data-node-id].h4,
.b3-typography h4 {
    /* font-size: 1.3em !important; */
    color: var(--custom-h4-color);
    border-left: 3px solid var(--custom-h4-color);
    padding-left: 9px;
}

.protyle-wysiwyg [data-node-id].h5,
.b3-typography h5 {
    /* font-size: 1.2em !important; */
    color: var(--custom-h5-color);
    border-left: 3px solid var(--custom-h5-color);
    padding-left: 9px;
}

.protyle-wysiwyg [data-node-id].h6,
.b3-typography h6 {
    /* font-size: 1.1em !important; */
    color: var(--custom-h6-color);
    border-left: 3px solid var(--custom-h6-color);
    padding-left: 9px;

}

.dock--vertical .dock__item:hover {
    background-color:#00000010;
}

::-webkit-scrollbar{
    width: 4px;
}

.toolbar__item:not(.toolbar__item--action1):hover {
    background-color:#00000010;
}

.layout-tab-bar {
    background-color: #e0e0e0;
    box-shadow: 0 0 5px #dddddd;
    /* border-bottom: 1px solid #ffffff20; */
    /* border-top: 1px solid hsla(0, 0%, 100%, 0.125); */
    backdrop-filter: blur(5px);
    z-index: 2;
} 

#configBazaarReadme{
    z-index: 99;
}

.protyle-wysiwyg [data-node-id].li>[data-node-id]:before {
    border-left: 1px solid #00000030;
}

.b3-dialog__scrim {
    background-color: rgb(0 0 0 / 50%);
}

.layout__center .layout__resize--lr {
    border-left: 1px solid #00000010;
}
